body{
	margin:0;
	padding:0;
	background-color: #ccc
}

header{
	text-align: center;
	background: #999;
	margin: 0;
	padding: 10px;
	margin-bottom: 10px;
}

#buttons{
	margin: 10px;
	border: #cccccc 2px solid;
	text-align: center;
	padding: 10px 0;
}
.button{
	padding: 20px;
	margin: auto;
	color: #fff;
	background: #666;
	border: black 2px solid;
	border-radius: 5px
}

/*Panels*/

.pan {
	width: 100%;
	margin-color: red;
}

.panels{
	text-align: center;
	width: 100%;
}
#panel1{
	position: fixed;
	margin: 0 0 0 2.3%;
	border: blue 1px solid;
	width: 20%;
}

#panel2{
	position: fixed;
	margin: 0 0 0 24.6%;
	border: blue 1px solid;
	width: 20%;
}

#panel3{
	position: fixed;
	margin: 0 0 0 46.9%;
	border: blue 1px solid;
	width: 20%;
}

#panel4{
	position: fixed;
	margin: 0 0 0 70.2%;
	border: blue 1px solid;
	width: 20%;
}

.panel h3{
	margin:0px;
	padding:10px;
	background-color: blue;
	color: white;
	
}

.panel p{
	padding: 10px;
}

.footer {
	position: absolute;
  	right: 0;
	bottom: 0;
 	left: 0;
 	padding: 1rem;
 	background-color: #af6c57;
 	text-align: center;
 	color: white;
 	font-family: sans-serif;



}
